@font-face {
   font-family: 'NextExit-Black';
   font-display: swap;
   src: url('file:///Users/mirotal/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-01-29_185151/fonts/NextExit-Black/font.ttf');
}
